@using X.PagedList
@using Reload.Models.Contentful
@model X.PagedList.PagedList<Chapter>

@{
    ViewData["Title"] = "DynamicCourse";
}

<h1>@Model[0].Title</h1>
<contentful-rich-text document="@Model[0].Content"></contentful-rich-text>

@if (Model.HasPreviousPage)
{
    <a asp-controller="Course" asp-action="DynamicCourse" asp-route-courseName=@ViewData["courseName"] asp-route-chapterIDs=@ViewData["chapterIDs"]
   asp-route-page=@Model[0].calculatePreviousPage(Model.PageNumber) class="btn btn-primary">Previous Chapter</a>
}

@if (Model.HasNextPage)
{
    <a asp-controller="Course" asp-action="DynamicCourse" asp-route-courseName=@ViewData["courseName"] asp-route-chapterIDs=@ViewData["chapterIDs"]
   asp-route-page=@Model[0].calculateNextPage(Model.PageNumber) class="btn btn-primary">Next Chapter</a>
}