
@{
    ViewData["Title"] = "Reload";
}

<div class="mt-5 row">
    <div class="col-4 align-content-center">
        <h1>Reload.</h1>
        <p>Short text</p>
    </div>
    <div class="col-8 text-center">
        <img src="https://dummyimage.com/600x400/000/fff" />
    </div>
</div>